@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./styles/nav.css');
@import url('./styles/hero.css');
@import url('./styles/about.css');
@import url('./styles/work.css');
@import url('./styles/skills.css');
@import url('./styles/services.css');
@import url('./styles/testimonials.css');
@import url('./styles/cta.css');
@import url('./styles/contact.css');
@import url('./styles/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root[data-theme="light"] {
  --text: #0f051f;
  --background: #ede4fb;
  --primary: #461281;
  --secondary: #ea79ec;
  --accent: #c01b9a;
  --accent-text: #fff;
  --accent-border: rgb(192, 27, 154, 0.1);
  
  --nav-border: rgba(253, 0, 0, 0.1);
}
:root[data-theme="dark"] {
  --text: #eadffa;
  --background: #0d041b;
  --primary: #b07cec;
  --secondary: #841386;
  --accent: #e441bf;
  --accent-text: #fff;
  --accent-border: rgb(228, 65, 191, 0.1);

  --nav-border: rgba(45, 24, 112, 0.6);
}

/* :root[data-theme="light"] {
  --text: #010128;
  --background: #f0f1ff;
  --primary: #030c91;
  --secondary: #b064fc;
  --accent: #7d04cd;
}
:root[data-theme="dark"] {
  --text: #d9d9fe;
  --background: #000111;
  --primary: #6d76fc;
  --secondary: #4f039a;
  --accent: #ad34fb;
} */

/* :root[data-theme="light"] {
  --text: #061228;
  --background: #03071d;
  --primary: #123582;
  --secondary: #ab6beb;
  --accent: rgb(0, 187, 238);
}
:root[data-theme="dark"] {
  --text: #d6e3f9;
  --background: #040d1c;
  --primary: #7ba0ed;
  --secondary: #551496;
  --accent: #b020e1;
} */

/* :root[data-theme="light"] {
  --text: #061228;
  --background: #e4edfb;
  --primary: #123582;
  --secondary: #ab6beb;
  --accent: #b01fe0;
}
:root[data-theme="dark"] {
  --text: #d6e3f9;
  --background: #040d1c;
  --primary: #7ba0ed;
  --secondary: #551496;
  --accent: #b020e1;
} */

body{
    color: var(--text);
    overflow-x: hidden;
    background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
section > .heading {
  text-align: start;
}
section > .heading span {
  font-weight: 600;
  color: var(--accent);
}
section > .heading h2 {
  margin-top: -6px;
  font-size: 40px;
  line-height: 1.2;
}
section > .heading p {
  font-size: 18px;
}


.social-icons{
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 40px;
  margin-top: 20px;
}
.social-icons a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-icons i{
  font-size: 25px;
}
.social-icons i:hover {
  color: transparent;
  background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80); /* Apply gradient as background */
  -webkit-background-clip: text;
  background-clip: text;
}

.social-icons .fa-twitter:hover {
  background: linear-gradient(45deg, #1DA1F2, #1A91DA, #197FCB, #1866B8, #175496);
  background-clip: text;
}

.social-icons .fa-telegram:hover {
  background: linear-gradient(45deg, #37AEE2, #1E96C8);
  background-clip: text;
}

.social-icons .fa-linkedin-in:hover {
  background: linear-gradient(45deg, #0077B5, #0A66C2);
  background-clip: text;
}