/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
section.contact {
  @apply flex justify-between gap-[100px] items-center p-20;
}
.contact .left {
  @apply flex flex-col justify-between h-[350px] w-[450px];
  align-items: start;
}
.contact .heading {
  @apply text-start;
}
.contact .heading span {
  @apply font-semibold;
  @apply text-accent;
}
.contact .heading h2 {
  @apply text-[40px] leading-[1.2] -mt-1.5;
}
.contact > div p {
  @apply text-xl font-medium;
}
.contact .promises {
  @apply flex flex-col gap-2.5;
}
.contact .promises div {
  @apply flex items-center gap-2.5;
  justify-content: start;
}
.contact .promises span {
  @apply text-muted-foreground font-medium;
}
.contact .promises svg,
.contact .promises path {
  @apply min-h-[20px] min-w-[20px] max-h-5 max-w-[20px] fill-[green];
}
.contact .social-icons {
  @apply mt-0;
}
.contact div.right {
  @apply h-[350px] w-[450px] min-w-[420px] bg-card p-4 rounded-3xl;
}
.contact form {
  @apply flex flex-col justify-center gap-2.5 h-full;
}
.contact .right .input {
  @apply flex justify-center gap-2.5 items-center;
}
.contact form > .input-container {
  @apply flex-1;
}
.input-container {
  @apply relative w-full;
}
.contact input {
  @apply grow h-[50px] pl-2.5 rounded-2xl border-[none];
  outline: none;
}
.contact textarea {
  @apply resize-none h-full p-2.5 rounded-2xl border-[none];
  outline: none;
}
.floating-input {
  @apply w-full border rounded p-3 border-solid border-[#ccc];
  outline: none;
}
.floating-placeholder {
  @apply text-[0.8em] text-[color:var(--body-text)] left-[11px] top-0;
  background: linear-gradient(to bottom, #ded0f3 50%, #fff 50%);
}
.floating-input:focus + .floating-placeholder,
.floating-input:not(:placeholder-shown) + .floating-placeholder {
  @apply absolute -translate-y-2/4 text-[#aaa] transition-all duration-300 ease-linear pointer-events-none left-3 top-2/4;
  background: transparent;
}
section#contact label.floating-placeholder.textarea {
  @apply top-[9%];
}
.success {
  @apply fixed hidden justify-between items-center gap-[15px] bg-[color:var(--card)] z-[200] w-fit text-center px-[18px] py-4 rounded-lg right-[2vw] bottom-[10vh];
  @apply bg-card;
}
.fail {
  @apply fixed hidden justify-between items-center gap-[15px] bg-[color:var(--card)] z-[200] w-fit text-center px-[18px] py-4 rounded-lg right-[2vw] bottom-[10vh];
  @apply bg-card;
}
.success *,
.fail * {
  @apply text-[color:var(--text)];
}
.success svg,
.fail svg {
  @apply h-10 w-10 font-semibold;
}
@media (min-width: 1440px) {
  section.contact {
    @apply w-[1440px] max-w-[1440px] mx-auto my-0;
  }
}
@media (min-width: 1300px) {
  section.contact div.right {
    @apply w-[500px] h-[400px];
  }
  section.contact div.left {
    @apply w-[500px] h-[400px];
  }
  section.contact div.left h2 {
    @apply text-[2.8rem];
  }
  section.contact div.left p {
    @apply text-[1.4rem];
  }
}
@media (min-width: 1250px) {
  section.contact div.right {
    @apply min-w-[470px];
  }
}
@media (max-width: 1070px) {
  section.contact {
    @apply gap-[70px] px-[50px] py-[100px];
  }
}
@media (max-width: 970px) {
  section.contact {
    @apply gap-[50px];
  }
}
@media (max-width: 930px) {
  section.contact {
    @apply gap-[30px] px-[30px] py-[100px];
  }
}
@media (max-width: 820px) {
  section.contact {
    @apply gap-5 px-5 py-[100px];
  }
}
@media (max-width: 800px) {
  .contact div.right {
    @apply min-w-[390px];
  }
}
@media (max-width: 768px) {
  section.contact {
    @apply flex-col px-2.5 py-[100px];
  }
  .contact .left {
    @apply items-center text-center;
  }
  .contact .heading {
    @apply text-center;
  }
  .contact div.right {
    @apply min-w-[420px];
  }
  .contact .promises {
    @apply pl-5;
  }
}
@media (max-width: 490px) {
  .contact div.right {
    @apply w-[390px] min-w-[390px];
  }
}
@media (max-width: 430px) {
  .contact .left {
    @apply w-full;
  }
}
@media (max-width: 410px) {
  .contact div.right {
    @apply w-[350px] min-w-[350px];
  }
}
@media (max-width: 365px) {
  .contact div.right {
    @apply h-[400px] w-[330px] min-w-[330px];
  }
  .contact .right .input {
    @apply flex flex-col gap-2.5;
  }
}
@media (max-width: 340px) {
  section.contact {
    @apply px-[5px] py-[100px];
  }
  .contact div.right {
    @apply w-[300px] min-w-[300px];
  }
}
