* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root[data-theme='light'] {
  --text: #0f051f;
  --body-text: rgba(25, 24, 37, 0.7);
  --background: #ede4fb;
  --primary: #461281;
  --secondary: #ea79ec;
  --accent: #c01b9a;
  --accent-text: #ffffff;
  --accent-border: rgba(192, 27, 154, 0.1);
  --nav-border: rgba(253, 0, 0, 0.1);
  --card-background: #d7cfee;
  --icons: #010101;
}

:root[data-theme='dark'] {
  --text: #eadffa;
  --body-text: rgba(230, 230, 230, 0.85);
  --background: #0d041b;
  --primary: #b07cec;
  --secondary: #841386;
  --accent: #e441bf;
  --accent-text: #ffffff;
  --accent-border: rgba(228, 65, 191, 0.1);
  --nav-border: rgba(45, 24, 112, 0.6);
  --card-background: #1e0d2a;
  --icons: #f0f0f0;
}

/* :root[data-theme="light"] {
  --text: #010128;
  --body-text: rgba(1, 1, 40, 0.7);
  --background: #f0f1ff;
  --primary: #030c91;
  --secondary: #b064fc;
  --accent: #7d04cd;
  --accent-text: #ffffff;
  --accent-border: rgba(125, 4, 205, 0.1);
  --nav-border: rgba(3, 12, 145, 0.1);
  --card-background: #e0e3ff;
}

:root[data-theme="dark"] {
  --text: #d9d9fe;
  --body-text: rgba(217, 217, 254, 0.85);
  --background: #000111;
  --primary: #6d76fc;
  --secondary: #4f039a;
  --accent: #ad34fb;
  --accent-text: #ffffff;
  --accent-border: rgba(173, 52, 251, 0.1);
  --nav-border: rgba(77, 3, 154, 0.6);
  --card-background: #13141e;
} */

/* :root[data-theme="light"] {
  --text: #061228;
  --body-text: rgba(6, 18, 40, 0.7);
   --background: #e4edfb;
  --primary: #123582;
  --secondary: #ab6beb;
  --accent: rgb(0, 187, 238);
  --accent-text: #ffffff;
  --accent-border: rgba(0, 187, 238, 0.1);
  --nav-border: rgba(18, 53, 130, 0.1);
  --card-background: #d7e3fb;
}

:root[data-theme="dark"] {
  --text: #d6e3f9;
  --body-text: rgba(214, 227, 249, 0.85);
  --background: #040d1c;
  --primary: #7ba0ed;
  --secondary: #551496;
  --accent: #b020e1;
  --accent-text: #ffffff;
  --accent-border: rgba(176, 32, 225, 0.1);
  --nav-border: rgba(85, 20, 150, 0.6);
  --card-background: #0c0e1b;
} */

/* :root[data-theme="light"] {
  --text: #061228;
  --body-text: rgba(6, 18, 40, 0.7);
  --background: #e4edfb;
  --primary: #123582;
  --secondary: #ab6beb;
  --accent: #b01fe0;
  --accent-text: #ffffff;
  --accent-border: rgba(176, 31, 224, 0.1);
  --nav-border: rgba(18, 53, 130, 0.1);
  --card-background: #d7e3fb;
}

:root[data-theme="dark"] {
  --text: #d6e3f9;
  --body-text: rgba(214, 227, 249, 0.85);
  --background: #040d1c;
  --primary: #7ba0ed;
  --secondary: #551496;
  --accent: #b020e1;
  --accent-text: #ffffff;
  --accent-border: rgba(176, 32, 225, 0.1);
  --nav-border: rgba(85, 20, 150, 0.6);
  --card-background: #0c0e1b;
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  overflow-x: hidden;
  @apply bg-background;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  @apply bg-background;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
  border: 3px solid var(--background);
}

main {
  display: flex;
  flex-direction: column;
}
section > .heading {
  text-align: start;
}
section > .heading span {
  font-weight: 600;
  color: var(--accent);
}
section > .heading h2 {
  margin-top: -6px;
  font-size: 40px;
  line-height: 1.2;
}
section > .heading p {
  font-size: 18px;
}
section p {
  color: var(--body-text);
}

h1,
h2,
h3,
.heading span,
#hero .left span,
.navigations a {
  font-family: 'Oxanium', sans-serif;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 40px;
  margin-top: 20px;
}
.social-icons a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-icons i {
  font-size: 25px;
}
.social-icons i:hover {
  color: transparent;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  ); /* Apply gradient as background */
  -webkit-background-clip: text;
  background-clip: text;
}

.social-icons .fa-twitter:hover {
  background: linear-gradient(45deg, #1da1f2, #1a91da, #197fcb, #1866b8, #175496);
  background-clip: text;
}

.social-icons .fa-telegram:hover {
  background: linear-gradient(45deg, #37aee2, #1e96c8);
  background-clip: text;
}

.social-icons .fa-linkedin-in:hover {
  background: linear-gradient(45deg, #0077b5, #0a66c2);
  background-clip: text;
}
