@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-hex: #c01b9a;
    --body-text: rgba(25, 24, 37, 0.7);
    --nav-border: rgba(253, 0, 0, 0.1);
    --icons: #010101;

    --radius: 0.5rem;

    --background: 267 67% 94%; /* --background #ede4fb */
    --foreground: 270 71% 9%; /* --text #0f051f */

    --card: 264 40% 88%; /* #d7cfee */
    --card-foreground: 270 71% 9%;

    --popover: 264 40% 88%;
    --popover-foreground: 270 71% 9%;

    --primary: 273 69% 27%; /* --primary #461281 */
    --primary-foreground: 0 0% 100%;

    --secondary: 300 79% 70%; /* --secondary #ea79ec */
    --secondary-foreground: 270 71% 9%;

    --muted: 267 67% 94%;
    --muted-foreground: 235 26% 35%; /* body text rgba(25, 24, 37, 0.7) */

    --accent: 314 75% 43%; /* #c01b9a */
    --accent-foreground: 0 0% 100%; /* --accent-text: #ffffff; */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 314 75% 43% / 0.1; /* --accent-border rgba(192, 27, 154, 0.1) */
    --input: 264 40% 85%;
    --ring: 314 75% 43%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    --font-inter: 'Inter', sans-serif;
    --font-oxanium: 'Oxanium', sans-serif;
    --font-jaini-purva: 'Jaini Purva', cursive;
  }

  .dark {
    --text: #eadffa;
    --body-text: rgba(230, 230, 230, 0.85);
    --background: #0d041b;
    --primary: #b07cec;
    --secondary: #841386;
    --accent: #e441bf;
    --accent-text: #ffffff;
    --accent-border: rgba(228, 65, 191, 0.1);
    --nav-border: rgba(45, 24, 112, 0.6);
    --card-background: #1e0d2a;
    --icons: #f0f0f0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-foreground overflow-x-hidden bg-background;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  @apply bg-background;
}
body::-webkit-scrollbar-thumb {
  @apply bg-primary border-4 border-background;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
section > .heading {
  text-align: start;
}
section > .heading span {
  font-weight: 600;
  @apply text-accent;
}
section > .heading h2 {
  margin-top: -6px;
  font-size: 40px;
  line-height: 1.2;
}
section > .heading p {
  font-size: 18px;
}
section p {
  color: var(--body-text);
  font-family: 'Poppins', sans-serif;
}

h2,
h3 {
  font-weight: 700;
}
h1,
h2,
h3,
.heading span,
#hero .left span,
.navigations a {
  font-family: 'Oxanium', sans-serif;
}
#about > p {
  font-family: var(--font-jaini-purva);
}
.social-icons {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 40px;
  margin-top: 20px;
}
.social-icons a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social-icons i {
  font-size: 25px;
}
.social-icons i:hover {
  color: transparent;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  ); /* Apply gradient as background */
  -webkit-background-clip: text;
  background-clip: text;
}

.social-icons .fa-twitter:hover {
  background: linear-gradient(45deg, #1da1f2, #1a91da, #197fcb, #1866b8, #175496);
  background-clip: text;
}

.social-icons .fa-telegram:hover {
  background: linear-gradient(45deg, #37aee2, #1e96c8);
  background-clip: text;
}

.social-icons .fa-linkedin-in:hover {
  background: linear-gradient(45deg, #0077b5, #0a66c2);
  background-clip: text;
}
