@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

#about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 80px;
}
#about p {
  font-family: 'Jaini Purva';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 84px;
  text-align: center;
  color: var(--text);
}