section.cta {
  margin-top: 180px;
  padding: 0 80px;
}

.cta .heading {
  display: flex;
  justify-content: center;
  align-items: start;
}
.cta .heading > * {
  width: 50%;
}
.cta .heading p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.cta button{
  width: fit-content;
  height: fit-content;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--accent-text);
  border-radius: 8px;
  border: 2px solid var(--accent);
  background-color: var(--accent);
  cursor: pointer;
  transition: .3s;
}
.cta button:hover{
  background-color: transparent;
  color: var(--accent);
}


@media (min-width: 1440px) {
  section.cta {
    max-width: 1440px;
    margin: 180px auto 0;
  }
}
@media (min-width: 1335px) {
  .cta .heading h2 {
    font-size: 2.5rem;
    width: 40%;
  }
  .cta .heading {
    gap: 50px;
  }
}
@media (max-width: 1070px) {
  section.cta {
    padding: 0 50px;
  }
}
@media (max-width: 990px) {
  .cta .heading {
    gap: 30px;
  }
  .cta .heading h2 {
    font-size: 2.4rem;
  }
  .cta .heading p {
    font-size: 18px;
  }
}
@media (max-width: 930px) {
  section.cta {
    padding: 0 30px;
  }
  .cta .heading {
    justify-content: space-between;
  }
  .cta .heading > * {
    width: 50%;
  }
}
@media (max-width: 820px) {
  section.cta {
    padding: 0 20px;
  }
  .cta .heading h2 {
    width: 60%;
  }
}
@media (max-width: 768px) {
  section.cta {
    padding: 0 10px;
  }
  .cta .heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .cta .heading > * {
    width: 100%;
  }
  .cta .heading h2 {
    width: 100%;
  }
  .cta .heading p {
    padding: 0 10%;
    margin-bottom: 30px;
  }
  .cta .heading h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 620px) {
  .cta .heading h2 {
    font-size: 2.2rem;
  }
  .cta .heading p {
    padding: 0 5%;
  }
}
@media (max-width: 560px) {
  section.cta {
    padding: 0 5px;
  }
  .cta .heading h2 {
    font-size: 2rem;
  }
  .cta .heading p {
    padding: 0;
  }
}
@media (max-width: 495px) {
  .cta .heading h2 {
    font-size: 1.9rem;
  }
}