#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 500px;
  height: min(calc(100vh - 65px), fit-content);
  padding: 0 100px 0 100px;
}
#hero .left {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  font-size: large;
  max-width: 600px;
}
#hero .left span {
  font-weight: 500;
}
#hero .left h1 {
  font-size: 3rem;
  margin: -10px 0 -8px -2px;
}
#hero .left h3 {
  font-size: 2rem;
  color: var(--accent);
  margin: 0 0 15px -1px;
}
#hero .left p {
  margin-top: 8px;
}
#hero .left > #btn-div {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 275px;
  height: 38px;
}
#hero .left button {
  width: 120px;
  height: 100%;
  border-radius: 8px;
  transition: .3s;
  border: 2px solid var(--accent);
  font-size: normal;
  font-weight: 450;
  letter-spacing: 1px;
  cursor: pointer;
}
.hire {
  background-color: transparent;
  color: var(--accent);
  transition: .3s;
}
.talk {
  background-color: var(--accent);
  color: var(--accent-text);
}
.hire:hover {
  background-color: var(--accent);
  color: var(--accent-text);
}
.talk:hover {
  background-color: transparent;
  color: var(--accent);
}

#hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
#circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 3;
}
#circle .circle {
  border-radius: 50%;
  box-sizing: border-box;
}
.circle-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 410px;
  height: 410px;
  background-color: transparent;
  margin: 0;
  z-index: 1;
}
.circle-b {
  width: 370px;
  height: 370px;
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  border: 8px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 15px 10px var(--accent), 0px 0px 30px 10px var(--accent);
  background-image: url('../assets/img/profile.png');
  background-size: cover;
  background-position: calc(50% + 20px) center;
  background-repeat: no-repeat;
}

@media (min-width: 1440px) {
  #hero {
    max-width: 1440px;
    margin: 0 auto !important;
  }
}
@media (min-width: 1370px) {
  #hero .left span {
    font-size: 22px;
    font-weight: 600;
  }
  #hero .left h1{
    font-size: 3.4rem !important;
  }
  #hero .left h3{
    font-size: 2.5rem !important;
  }
  #hero .left p{
    font-size: 22px !important;
  }
}
@media (min-width: 1315px) {
  #hero {
    padding: 0 130px;
  }
}
@media (min-width: 1270px) {
  #hero .left span {
    font-size: 20px;
    font-weight: 600;
  }
  #hero .left h1{
    font-size: 3.2rem;
  }
  #hero .left h3{
    font-size: 2.3rem;
  }
  #hero .left p{
    font-size: 20px;
  }
  #hero .left > #btn-div{
    gap: 20px;
    width: fit-content;
    height: 48px;
  }
  #hero .left button{
    width: 140px;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
  }
  #hero .social-icons{
    width: 295px;
  }
  #circle .circle {
    transform: scale(1.06);
  }
}
@media (max-width: 1100px) {
  #hero {
    padding: 0 40px 0 70px;
  }
}
@media (max-width: 998px) {
  #hero {
    padding: 0 20px 0 50px;
  }
}
@media (max-width: 925px) {
  #hero .left h1{
    font-size: 2.5rem;
  }
  #hero .left h3{
    font-size: 1.8rem;
  }
  #hero .left p{
    font-size: 16px;
  }
  #circle .circle {
    transform: scale(.96);
  }
}
@media (max-width: 870px) {
  #hero {
    padding: 0 10px 0 40px;;
  }
}
@media (max-width: 855px) {
  #hero .right {
    width: 50%;
  }
  #circle .circle {
    transform: scale(.95);
  }
}
@media (max-width: 810px) {
  #hero {
    padding: 0 10px 0 30px;
  }
}
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    padding: 0 40px;
  }
  #hero .left {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  #hero .left .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero .left p {
    width: 70%;
  }
}
@media (max-width: 652px) {
  #hero .left p {
    width: 90%;
  }
}
@media (max-width: 611px) {
  #hero .left p {
    width: 90%;
  }
}
@media (max-width: 524px) {
  #hero .left p {
    width: 98%;
  }
}
@media (max-width: 490px) {
  #hero {
    padding: 0 20px;
  } 
}
@media (max-width: 450px) {
  #hero {
    padding: 0 10px;
  }
  #hero .left p {
    width: 100%;
  }
}
@media (max-width: 420px) {
  #hero .left p {
    font-size: 16px;
  }
  #hero .left span {
    width: 100%;
  }
}
@media (max-width: 390px) {
  #circle .circle {
    transform: scale(.9);
  }
}
@media (max-width: 375px) {
  #hero .left h1 {
    font-size: 2.3rem;
  }
  #hero .left h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 350px) {
  #hero .left h1 {
    font-size: 2.1rem;
  }
  #hero .left h3 {
    font-size: 1.4rem;
  }
  #circle .circle {
    transform: scale(.87);
  }
}