#hero{
  display: flex;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 65px);
  padding: 0 70px 0 100px;
}
#hero .left{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  font-size: large;
  max-width: 600px;
}
#hero .left h1{
  font-size: 3rem;
  margin: -12px 0 -12px 0;
}
#hero .left h3{
  font-size: 2rem;
  color: var(--accent);
  margin-bottom: 15px;
}
#hero .left p{
  margin-top: 8px;
}
#hero .left > #btn-div{
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 275px;
  height: 38px;
}
#hero .left button{
  width: 120px;
  height: 100%;
  border-radius: 8px;
  transition: .3s;
  border: 2px solid var(--accent);
  font-size: normal;
  font-weight: 450;
  letter-spacing: 1px;
  cursor: pointer;
}
.hire{
  background-color: transparent;
  color: var(--accent);
  transition: .3s;
}
.talk{
  background-color: var(--accent);
  color: var(--accent-text);
}
.hire:hover {
  background-color: var(--accent);
  color: var(--accent-text);
}
.talk:hover{
  background-color: transparent;
  color: var(--accent);
}

#hero .right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#circle{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 3;
}
#circle .circle {
  border-radius: 50%;
  box-sizing: border-box;
}
.circle-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 410px;
  height: 410px;
  background-color: transparent;
  margin: 0;
  z-index: 1;
}
.circle-b {
  width: 370px;
  height: 370px;
  background-color: transparent;
  overflow: hidden;
  z-index: 2;
  border: 8px solid rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 15px 10px var(--accent), 0px 0px 30px 10px var(--accent);
  background-image: url('../assets/img/profile.png');
  background-size: cover;
  background-position: calc(50% + 20px) center;
  background-repeat: no-repeat;
}