section.portfolio {
  padding: 50px 200px;
  margin-top: 30px;
}
.portfolio > .heading {
  margin-bottom: 50px;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.portfolio .project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.portfolio .project div {
  width: 50%;
}
.portfolio  .project:nth-child(3) .card {
  display: flex;
  justify-content: start;
  align-items: center;
}
.portfolio  .project:nth-child(3) .card img {
  width: 90%;
  height: 90%;
}
.portfolio .card {
  height: 350px;
  max-width: 400px;
  min-width: 400px;
  border-radius: 12px;
  overflow: hidden;
}
.portfolio .card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.portfolio .details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
  padding: 20px 0px;
}
.portfolio .details div {
  width: 100%;
}
.portfolio .details .text .heading {
  margin-bottom: 16px;
}
.portfolio .details .tags {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.portfolio .details .tags span {
  background-color: #cecece;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}
.portfolio .details p {
  line-height: 1.3;
}
.portfolio .details p a {
  text-decoration: none;
  color: rgb(100, 100, 208);
}
.portfolio .details .links {
  display: flex;
  justify-content: start;
  align-content: center;
  gap: 20px;
}
.portfolio .details .links * {
  text-decoration: none;
  color: var(--text);
  height: 100%;
}
.portfolio .details .links a.live {
  margin-top: 7px;
  font-weight: 600;
}
.portfolio .details .links a.live:hover {
  color: var(--accent);
}
.portfolio .details .links i {
  font-size: 32px;
}

@media (min-width: 1290px) {
  .portfolio .project div h3 {
    font-size: 24px;
  }
  .portfolio .project div p {
    font-size: 20px;
  }
  .portfolio .project .tags span {
    font-size: 18px;
  }
}
@media (min-width: 1310px) {
  section.portfolio {
    padding: 50px 170px;
  }
  .portfolio .card {
    height: 400px;
    max-width: 450px;
    min-width: 450px;
  } 
}
@media (min-width: 1360px) {
  section.portfolio {
    max-width: 1360px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  section.portfolio {
    padding: 50px 10%;
  }
}
@media (max-width: 1000px) {
  section.portfolio {
    padding: 50px 5%;
  }
}
@media (max-width: 930px) {
  section.portfolio {
    padding: 50px 40px;
  }
}
@media (max-width: 885px) {
  .portfolio .card {
    height: 300px;
    max-width: 350px;
    min-width: 350px;
  }
}
@media (max-width: 785px) {
  section.portfolio {
    padding: 50px 30px;
  }
}
@media (max-width: 768px) {
  section.portfolio {
    padding: 50px 20px;
  }
  .portfolio > .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .portfolio > .heading p {
    width: 80%;
  }
  .portfolio .container {
    align-items: center;
  }
  .portfolio .project {
    flex-direction: column-reverse;
    gap: 5px;
    max-width: 400px;
    margin-bottom: 30px;
  }
  .portfolio .project:not(:last-child) {
    border-bottom: 2px solid var(--text);
    padding-bottom: 30px;
  }
  .portfolio .project:nth-child(2) {
    flex-direction: column;
  }
  .portfolio .card {
    height: 350px;
    max-width: 400px;
    min-width: 400px;
  }
  .portfolio  .project:nth-child(3) .card {
    justify-content: center;
  }
  .portfolio  .project:nth-child(3) .card img {
    width: 100%;
  }
  .portfolio .details {
    min-width: 400px;
  }
  .portfolio .details h3 {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .portfolio > .heading p {
    width: 90%;
  }
}
@media (max-width: 485px) {
  .portfolio > .heading p {
    width: 100%;
  }
  section.portfolio {
    padding: 50px 10px;
  }
}
@media (max-width: 435px) {
  section.portfolio {
    padding: 50px 5px;
  }
  .portfolio .project {
    max-width: 380px;
  }
  .portfolio .card {
    height: 330px;
    min-width: 380px;
  }
  .portfolio .details {
    min-width: 380px;
  }
}
@media (max-width: 415px) {
  .portfolio .project {
    max-width: 330px;
  }
  .portfolio .card {
    height: 280px;
    min-width: 330px;
  }
  .portfolio .details {
    min-width: 330px;
  }
}
@media (max-width: 350px) {
  .portfolio .project {
    max-width: 310px;
  }
  .portfolio .card {
    height: 260px;
    min-width: 310px;
  }
  .portfolio .details {
    min-width: 310px;
  }
}