section.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 80px;
  margin-top: 90px;
}

.services .heading {
  display: flex;
  gap: 20px;
}
.services .heading > * {
  width: 50%;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.services .container .card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 28px 18px;
  border-radius: 12px;
  text-align: center;
  border: 2px solid var(--accent-border);
  background-color: var(--card-background);
}
.services .card .icon {
  height: 100px;
}
.services .card svg {
  width: 80px;
  height: 100px;
}
.services .card svg  * {
  fill: var(--icons);
}

@media (min-width: 1440px) {
  section.services {
    max-width: 1440px;
    margin: 90px auto 0;
  }
}
@media (min-width: 1380px) {
  .services .container .card {
    height: 300px !important;
  }
}
@media (min-width: 1250px) {
  .services .container .card {
    justify-content: center;
    height: 280px;
    gap: 20px;
  }
  .services .card h3 {
    font-size: 1.5rem;
  }
  .services .card p {
    font-size: 1.2rem; 
  }
  .services .card svg {
    width: 100px;
    height: 120px;
  }
}

@media (max-width: 1100px) {
  section.services {
    padding: 50px 50px;
  }
}
@media (max-width: 1025px) {
  section.services {
    padding: 50px 40px;
  }
}
@media (max-width: 935px) {
  .services .container {
    gap: 10px;
  }
  .services .container .card {
    padding: 28px 14px;
  }
  .services .heading h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 890px) {
  section.services {
    padding: 50px 30px;
  }
}
@media (max-width: 867px) {
  .services .heading h2 {
    font-size: 2rem;
  }
}
@media (max-width: 847px) {
  .services .container .card {
    padding: 20px 14px;
  }
  .services .container .card h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 810px) {
  section.services {
    padding: 50px 25px;
  }
}

@media (max-width: 768px) {
  section.services {
    padding: 50px 10px;
  }
  .services .heading {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
  .services .heading > * {
    width: 100%;
  }
  .services .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 10px;
  }
  .services .container .card {
    padding: 28px 18px;
  }
  .services .container .card h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 675px) {
  .services .container .card h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 630px) {
  .services .container {
    padding: 0 5px;
  }
  .services .container .card {
    padding: 20px 14px;
  }
}
@media (max-width: 605px) {
  .services .container {
    gap: 10px;
  }
}
@media (max-width: 595px) {
  .services .container .card h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 560px) {
  .services .container {
    grid-template-columns: 1fr;
  }
  .services .container .card {
    width: 350px;
    padding: 28px 18px;
  }
}
@media (max-width: 425px) {
  .services .heading p {
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  .services .container .card {
    width: 320px;
  }
}
@media (max-width: 370px) {
  .services .heading h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 345px) {
  .services .container .card {
    width: 300px;
  }
}
@media (max-width: 325px) {
  .services .heading h2 {
    font-size: 1.6rem;
  }
}