section.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0 150px;
  margin-top: 50px;
}
.skills .heading {
  justify-self: start;
  align-self: start;
}
.skills .heading p {
  font-size: 20px;
  font-weight: 500;
}
.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills img {
  border-radius: 8px;
  height: 60px;
}