section.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 80px;
}
.skills .heading {
  justify-self: start;
  align-self: start;
}
.skills .heading p {
  font-size: 20px;
  font-weight: 500;
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
.skills .container > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  background-color: #e1d8fc;
  padding: 20px 0;
  border: 1px solid var(--accent);
  border-radius: 12px;
  text-align: center;
}
.skills .container svg {
  width: 100px;
  height: 100px;
}
.skills .container .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.skills .container .text h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.skills .container .text span {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary);
}

@media (min-width: 1440px) {
  section.skills {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .skills .container {
    gap: 45px;
  }
}
@media (min-width: 1300px) {
  .skills .container {
    gap: 40px;
  }
}
@media (min-width: 1260px) {
  .skills .container .text h3 {
    font-size: 1.6rem;
  }
  .skills .container .text span {
    font-size: 1.3rem;
  }
}
@media (max-width: 1100px) {
  section.skills {
    padding: 50px 50px;
  }
}
@media (max-width: 1025px) {
  section.skills {
    padding: 50px 40px;
  }
}
@media (max-width: 960px) {
  .skills .container svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 890px) {
  section.skills {
    padding: 50px 30px;
  }
}
@media (max-width: 850px) {
  .skills .container svg {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 810px) {
  section.skills {
    padding: 50px 25px;
  }
}
@media (max-width: 768px) {
  section.skills {
    padding: 50px 10px;
  }
  .skills .heading {
    text-align: center;
    width: 100%;
  }
  .skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .skills .container > div {
    width: 300px;
  }
}
@media (max-width: 661px) {
  .skills .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
  }
}