section.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 80px;
  gap: 32px;
  text-align: center;
}
.testimonials p {
  font-size: 22px;
  font-weight: 600;
  width: 70%;
  color: var(--text);
}
.testimonials .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align-last: left;
}
.testimonials .profile .details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 40px;
  border-right: 2.5px solid #000;
}
.testimonials .logo h3 {
  font-family: 'Jaini Purva';
}
.testimonials .profile .details span {
  font-size: 13px;
}

@media (min-width: 1440px) {
  section.testimonials {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 1250px) {
  .testimonials p {
    font-size: 26px;
  }
  .testimonials .profile .details h4 {
    font-size: 18px;
  }
  .testimonials .profile .details span {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .testimonials p {
    width: 80%;
  }
}
@media (max-width: 820px) {
  .testimonials p {
    width: 90%;
  }
  section.testimonials {
    padding: 90px 60px;
  }
}
@media (max-width: 715px) {
  .testimonials p {
    width: 100%;
  }
}
@media (max-width: 645px) {
  section.testimonials {
    padding: 90px 30px;
  }
}
@media (max-width: 590px) {
  section.testimonials {
    padding: 90px 10px;
  }
}
@media (max-width: 544px) {
  .testimonials p {
    font-size: 1.2rem;
  }
}
@media (max-width: 470px) {
  .testimonials .profile {
    gap: 30px;
  }
  .testimonials .profile .details {
    padding-right: 30px;
  }
}
@media (max-width: 410px) {
  .testimonials p {
    font-size: 1.1rem;
  }
  .testimonials .profile {
    gap: 20px;
  }
  .testimonials .profile .details {
    padding-right: 20px;
  }
}